{% extends 'base.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">Inscription</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="shadow p-4 bg-light rounded">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Créer un compte</button>
            </form>
            <p class="text-center mt-3">
                Vous avez déjà un compte ? <a href="{% url 'login' %}" class="text-primary">Connexion</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
