{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="mb-4 text-center text-primary"><i class="fas fa-user-plus"></i> Inscription</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="shadow p-4 rounded bg-light">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="last_name" class="form-label">Nom</label>
                    <input type="text" name="last_name" class="form-control" id="last_name" required>
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">Prénom</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" required>
                </div>
                
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {% for error in form.email.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                    {% if form.password.errors %}
                        <div class="text-danger">
                            {% for error in form.password.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmer le mot de passe</label>
                    <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
                    {% if form.confirm_password.errors %}
                        <div class="text-danger">
                            {% for error in form.confirm_password.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary w-100">Créer un compte</button>
            </form>
            <p class="text-center mt-3">Vous avez déjà un compte ? <a href="{% url 'login' %}" class="text-primary">Connexion</a></p>
        </div>
    </div>
</div>
{% endblock %}
